@tailwind base;
@tailwind components;
@tailwind utilities;

.box-monkey {
    border: 3px solid transparent;
    border-image: linear-gradient(50deg,rgba(224, 37, 206, 0.7), rgba(74, 237, 82, 0.7), rgba(189, 36, 230, 0.7));
    border-image-slice: 1;
}

.header {
    background: transparent;
}